*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.App{
  width: 100%;
  display: flex;
}

.App {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.5); /* Adjust the brightness as needed */
}


.music--player {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
  height: 100vh; /* Make the player occupy full viewport height */
}

.music--card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.music--info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.music--details {
  margin-right: 15px;
  margin-bottom: 20px;
}

.music--title {
  font-size: 18px;
  font-weight: bold;
}

.music--artist {
  font-size: 14px;
  color: #777;
}

.image img {
  width: 214px; /* Adjust the width and height to make it rectangular */
  height: 276px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.2s;
}

.audio {
  width: 100%;
  margin-top: 10px;
}

.audio audio {
  width: 100%;
}

.music--player audio::-webkit-media-controls-panel {
  display: none !important;
}


.search-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-icon {
  margin-right: 10px;
  color: #666;
}

.search-input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}

.music-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  margin: 0 5px;
}

.play-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3498db;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-btn i {
  font-size: 24px;
}

.range-container {
  flex: 1;
  margin: 0 20px;
}

.range-input {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background-color: #ddd;
  border-radius: 5px;
  outline: none;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #3498db;
  border-radius: 50%;
  cursor: pointer;
}

.App {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.5); /* Adjust the brightness as needed */
}
