
body{
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    border: 1px oslidm black;
}

.songs {
    width: 100%;
    border-collapse: collapse;
    margin-right: 3rem;
    margin-top: 2rem;
  }

.search--section{
    padding: 4rem;
    text-align: center;
}
  
  .songs th,
  .songs td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    height: 80px; /* Set a fixed height for table rows */
  }
  
  .songs th {
    font-weight: bold;
  }
  
  .songs img {
    max-width: 60px;
    max-height: 60px; /* Set a fixed height for images */
    width: 4rem;
    height: 6rem;
    display: block;
    border-radius: 50%; /* Make the image round */
    margin-right: 15px;
    object-fit: cover;
    cursor: pointer;
  }
  
  .about--section p {
    margin: 0;
    font-weight: bold;
    cursor: pointer;
  }
  
  .about--section span {
    font-size: 12px;
    color: #777;
    cursor: pointer;
  }
  
  .songs tr:hover {
    background-color: #f5f5f5;
  }
  
  .songs .main {
    display: flex;
    align-items: center;
  }
  
  .songs .music--single {
    display: flex;
    align-items:center;
    cursor: pointer;
  }  